<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:url" content="https://tuftsenigma.github.io/">
    <meta property="og:title" content="Enigma | {% if page.title %}{{ page.title }}{% else %}Tufts Independent Data Journal{% endif %}">
    <meta property="og:image" content="{{ site.url }}/design/img/web-preview.jpg">
    <meta property="og:description" content="">
    <link rel="canonical" href="https://tuftsenigma.github.io/">
    <link rel="shortlink" href="https://tuftsenigma.github.io/">
    
    <title>Enigma | {% if page.title %}{{ page.title }}{% else %}Tufts Independent Data Journal{% endif %}</title>

    <link rel="shortcut icon" href="{{ site.url }}/design/img/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="{{ site.url }}/design/img/apple-touch-icon.png">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ site.url }}/design/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{{ site.url }}/design/css/style.css">
  </head>