---
layout: page
title: About Us
subtitle: Who we are and what we do
---

<div class="page-header">
  <h3 id="type">Our Mission</h3>
</div>
<p>
    Enigma is an independent publication based out of Tufts University focused on the crossroads of Computer Science, Data Science, and journalism. We examine and discuss cross-disciplinary themes within modern computing as well as use data-driven methods to visualize and analyze real world issues and ideas. Enigma truly strives to foster "journalism through a computational lens".
</p>

<div class="page-header">
  <h3 id="type">Editorial Staff</h3>
</div>
<div class="row">
  {% for member in site.categories.about %}
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img alt="{{ member.name }}" src="{{ member.avatar_url }}" height="330" width="330">
        <div class="caption">
          {% if member.email %}
            <a href="mailto:{{ member.email }}">
          {% endif %}
          <h3 style="display: inline-block;">{{ member.name }}</h3>
          {% if member.email %}
            </a>
          {% endif %}
          <h5>{{ member.title }}</h5>
          <p>{{ member.content }}</p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
