html {
    height: 100%;
}

body {
    font-size: 20px;
    height: 100%;
}

footer {
    margin-bottom: 60px;
    font-size: 12px;
    text-align: right;
    padding: 10px;
}

/* change font to Ubuntu Condensed */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .tooltip, .popover {
}

h3 {
    text-align: justify;
    margin: 0 auto;
    width: 30em;
}

h1 {
    text-align: center;
}

body {
    font-family: 'Adobe Caslon Pro';
}

/* bootstrap page-header additions */
.page-header {
    text-align: center;
}

/* navbar */
.navbar-brand {
    height: 50px;
    padding: 0px;
}

.nav>li>a {
    display: inline-block;
    font-family: 'Helvetica';
}

/* page w/ title and subtitle */
.page-title {
    background-color: #8ABDDF;
    color: #FFFFFF;
}

.page-title h1 {
    margin-bottom: 21px;
}

.page-title h1, .page-title h3 {
    display: inline-block;
}

/* workshop page schedule */
.workshop-wrapper {
    padding-top: 20px;
}

.workshop-chevron {
    padding-right: 15px;
}

/* posts styling */
img + em {
    font-size: 16px;
}

.center-image {
    margin: 0 auto;
    display: block;
    width: 100%;
    height: auto;
}

.post-container {
    padding-top: 15px;
    padding-bottom: 15px;
}

.container {
    max-width: 55%;
}

.dropdown-toggle {
    font-family: 'Helvetica';
}

.dropdown-menu {
    font-family: 'Helvetica';
}

blockquote {
    font-family: 'Adobe Caslon Pro';
}

.post-section-p1:first-letter {
    float: left;
    font-size: 65px;
    line-height: 35px;
    padding-top: 20px;
    padding-left: 3px;
    padding-right: 8px;
}

.post-section-p1 {
    padding-top: 15px;
    margin-bottom: 10.5px;
}