html {
    height: 100%;
}

body {
    font-size: 20px;
    height: 100%;
}

footer {
    margin-bottom: 60px;
    font-size: 12px;
    text-align: right;
    padding: 10px;
}

/* change font to Ubuntu Condensed */
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .tooltip, .popover {
    font-family: 'Ubuntu Condensed', sans-serif;
}

/* bootstrap page-header additions */
.page-header {
    text-align: center;
}

/* navbar */
.navbar-brand {
    height: 50px;
    padding: 0px;
}

.nav>li>a {
    display: inline-block;
}

/* page w/ title and subtitle */
.page-title {
    background-color: #8ABDDF;
    color: #FFFFFF;
}

.page-title h1 {
    margin-bottom: 21px;
}

.page-title h1, .page-title h3 {
    display: inline-block;
}

/* workshop page schedule */
.workshop-wrapper {
    padding-top: 20px;
}

.workshop-chevron {
    padding-right: 15px;
}
